@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .header {
    padding: 24px 0;
  }
  .adress-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .header-link {
    padding-bottom: 27px;
  }
  .adress-list {
    margin-left: 332px;
    gap: 40px;
  }
  .adress {
    margin-left: 0;
  }
  .hero-section {
    width: 100%;
    margin: 0;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-container {
    max-width: 600px;
  }

  .section-2 {
    padding: 120px 0;
  }
  .section-2-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .section-2-list-items {
    margin-right: 24px;
  }
  .section-2-list-items:last-child {
    margin-right: 0;
  }
  .section-2-list-title {
    margin: 0 auto;
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }
  .section-2-list-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-link-color);
  }
  .container-2-list-icon {
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    height: 112px;
    width: 100%;
    background: var(--main-background-color);
    justify-content: center;
    text-align: center;
  }
  .icon-2-item {
    height: auto;
  }
  .team-list-object {
    width: calc((100% - 72px) / 4);
  }

  .section-3 {
    padding-bottom: 120px;
    display: block;
  }
  .team {
    padding: 120px 0;
  }
  .team-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
  }
  .team-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
  }
  .team-list-object {
    width: 100%;
  }
  .team-list-object:last-child {
    margin-right: 24px;
  }
  .team-list-subtitle {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }
  .team-list-description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-link-color);
  }
  .team-list-name {
    background: var(--secondary-title-color);
    box-shadow: var(--main-box-shadow);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px;
  }
  .team-list-img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .team-list-icon {
    margin-top: 8px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .team-list-icon-item {
    width: 40px;
    height: 40px;
  }
  .team-list-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--main-button-color);
    transition: var(--trantsition-duraction-background);
  }
  .team-list-icon-link:is(:hover, :focus) {
    background-color: var(--main-underline-color);
  }
  .icon-item {
    fill: rgba(244, 244, 253, 1);
  }
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  .customers-container {
  }
  .customers-list {
    padding-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .customers-list-object {
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }
  .footer {
    background-color: var(--main-title-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    text-align: left;
  }
  .foooter-link {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-background-color);
  }
  .footer-description {
    margin-top: 16px;
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-background-btn-color);
  }

  .footer-description-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-background-btn-color);
  }
  .footer-list-icon {
    display: flex;
    gap: 16px;
  }

  .footer-list-icon-item {
    height: 40px;
    width: 40px;
  }
  .footer-list-icon-link {
    background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: var(--trantsition-duraction-background);
  }

  .footer-item {
    fill: var(--main-background-color);
  }
  .footer-items {
    text-align: left;
  }
  .footer-social-container {
    margin-left: 120px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  .footer-list-icon-link:is(:focus, :hover) {
    background-color: var(--main-footer-color);
  }

  .footer-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
    text-align: center;
    border-radius: 4px;
    padding: 8px 24px;
    background: var(--main-button-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-title-color);
    border: none;
    transition: var(--trantsition-duraction-background);
    margin-top: 0;
  }
  .footer-btn:hover {
    background-color: var(--main-underline-color);
  }
  .footer-btn:focus {
    background-color: var(--main-underline-color);
  }
  .subs-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: 16px;
  }
  .footer-subs {
    margin-left: 80px;
  }
  .footer-form {
    display: flex;
  }
  .footer-form-input {
  }
  .footer-form-email {
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--secondary-title-color);
    background-color: transparent;
  }
  .footer-form-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-title-color);
  }
  .footer-btn-svg {
    margin-left: 16px;
  }

  .footer-btn:hover {
    background-color: var(--main-underline-color);
  }
  .footer-btn:focus {
    background-color: var(--main-underline-color);
  }
  .subs-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    margin-bottom: 16px;
    text-align: left;
    margin-bottom: 0;
  }
  .footer-subs {
    margin-left: 80px;
  }
  .footer-form {
    display: flex;
  }
  .footer-form-input {
  }
  .footer-form-email {
    padding: 8px 16px;
    width: 264px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--secondary-title-color);
    background-color: transparent;
  }
  .footer-form-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--secondary-title-color);
  }
  .footer-btn-svg {
    margin-left: 16px;
  }
}
