@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .hero-section {
    max-width: 1440px;
    margin: auto;
    padding: 188px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .section-2 {
    padding: 120px 0;
  }
  .section-2-list {
    display: flex;
  }
  .section-2-list-items {
    margin-right: 24px;
  }
  .section-2-list-items:last-child {
    margin-right: 0;
  }
  .section-2-list-title {
    margin: 0 auto;
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
  }
  .section-2-list-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-link-color);
  }
  .container-2-list-icon {
    margin-bottom: 8px;
    border-radius: 4px;
    display: flex;
    height: 112px;
    width: 100%;
    background: var(--main-background-color);
    justify-content: center;
    text-align: center;
  }
  .icon-2-item {
    height: auto;
  }

  .team-list-object {
    width: calc((100% - 72px) / 4);
  }
  .team {
    padding: 120px 0;
  }

  
}
