@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-section {
    max-width: 100%;
    margin: auto;
    padding: 112px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-2-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
  }
  .section-2-list-items {
    margin: 0;
    width: calc((100% - 30px) / 2);
    gap: 24px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .customers-list {
    padding-left: 93px;
    padding-right: 93px;
    justify-content: space-between;
  }
  .customers-list-object {
    width: 168px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet2x.jpg);
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .footer-items {
    display: block;
    width: 264px;
    text-align: left;
    margin-left: 120px;
    margin-top: 0;
  }
  .footer-form {
    display: flex;
    align-items: center;
    margin-left: 120px;
  }
  .footer-form-email {
    width: 264px;
  }
  .footer-btn {
    margin-top: 0;
    margin-left: 24px;
  }
  .footer-form-input {
    width: 264px;
  }
  .subs-text {
    text-align: left;
    margin-left: 120px;
  }
  .footer-social-container {
    margin-top: 0;
    margin-left: 24px;
    margin-right: 0;
  }
  .footer-items {
    margin-right: 0;
  }
}
