@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-section {
    max-width: 100%;
    margin: auto;
    padding: 112px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-2-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
  }
  .section-2-list-item {
    margin: 0;
    width: calc((100% - 30px) / 2);
    gap: 24px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet2x.jpg);
  }
}
