@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .header {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .header-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-left: 120px;
    gap: 40px;
  }
  .header-list-item {
    margin-right: 0;
  }
  .adress {
    display: flex;
    margin-left: auto;
  }
  .adress-list {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    gap: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .adress-tel {
    font-family: "Roboto";
    font-style: normal;
    line-height: 1.17;
    font-size: 12px;
  }
  .adress-mail {
    font-family: "Roboto";
    font-style: normal;
    line-height: 1.17;
    font-size: 12px;
  }
  .menu-toggle {
    display: none;
  }
  .adress-list-item {
    margin-right: 0;
  }
  .header-link {
    padding-bottom: 34px;
  }
  .hero-title {
    margin-left: auto;
    margin-right: auto;
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .hero-section {
    max-width: 100%;
    margin: auto;
    padding: 112px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .section-2-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 72px;
  }
  .section-2-list-items {
    margin: 0;
    width: calc((100% - 30px) / 2);
    gap: 24px;
  }
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-list-object {
    margin: 0;
  }
  .customers-container {
    width: 568px;
  }
  .customers-list {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  .customers-list-object {
    width: 168px;
    height: 88px;
  }
  .customers-link {
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet2x.jpg);
  }
  .footer-container {
    width: 568px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  .footer-items {
    display: block;
    width: 264px;
    text-align: left;
    margin-top: 0;
    margin-left: 0px;
  }
  .footer-form {
    display: flex;
    align-items: center;
  }
  .footer-form-email {
    width: 264px;
  }
  .footer-btn {
    margin-top: 0;
    margin-left: 24px;
  }
  .footer-form-input {
    width: 264px;
  }
  .subs-text {
    text-align: left;
  }
  .footer-social-container {
    margin-top: 0;
    margin-left: 24px;
    margin-right: 0;
  }
  .footer-items {
    margin-right: 0;
  }
  .footer-list-icon {
    margin-bottom: 0;
    margin-top: 0;
  }
}
